@import "tailwindcss";

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/MontHeavy.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Edo";
  src: url("./assets/fonts/edo.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito.ttf") format("truetype");
  font-style: normal;
}

@theme {
  --color-bg: #001220;
  --color-primary: #c40c0c;
  --color-secondary: #ff6500;
  --color-text: #f6ce71;
}

/*Couleurs pour le fond ? #303030 #130E0A #120D16*/

:root {
  font-family: "Mont", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(120deg, #001220, #020b1a, #0a1f33, #001220);
  background-size: 400% 400%;
  animation: bgMove 40s ease infinite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: #fff;
  background: var(--color-primary);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.text-outline {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
